@import "navbar-theme";
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
}
.navbar__container {

}
.navbar__container__header {

}
.navbar__container__header--brand {
	height: 70px;
	line-height: 40px !important;
}
.navbar__container__menu {

}
.navbar__container__menu__list {

}
.navbar__container__menu__list__item {

}

.navbar__container__menu__list__item--link {
	line-height: 40px !important;
	padding-left: 30px !important;
	padding-right: 30px !important;
}

.navbar__container__header--button-collapse {
	border: none;
}