@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url('#{$font-path}Roboto-Thin.eot');
    src: url("#{$font-path}Roboto-Thin.eot?#iefix") format('embedded-opentype'), url("#{$font-path}Roboto-Thin.woff2") format("woff2"), url("#{$font-path}Roboto-Thin.woff") format("woff"), url("#{$font-path}Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url('#{$font-path}Roboto-Light.eot');
    src: url("#{$font-path}Roboto-Light.eot?#iefix") format('embedded-opentype'), url("#{$font-path}Roboto-Light.woff2") format("woff2"), url("#{$font-path}Roboto-Light.woff") format("woff"), url("#{$font-path}Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url('#{$font-path}Roboto-Regular.eot');
    src: url("#{$font-path}Roboto-Regular.eot?#iefix") format('embedded-opentype'), url("#{$font-path}Roboto-Regular.woff2") format("woff2"), url("#{$font-path}Roboto-Regular.woff") format("woff"), url("#{$font-path}Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url('#{$font-path}Roboto-Medium.eot');
    src: url("#{$font-path}Roboto-Medium.eot?#iefix") format('embedded-opentype'), url("#{$font-path}Roboto-Medium.woff2") format("woff2"), url("#{$font-path}Roboto-Medium.woff") format("woff"), url("#{$font-path}Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url('#{$font-path}Roboto-Bold.eot');
    src: url("#{$font-path}Roboto-Bold.eot?#iefix") format('embedded-opentype'), url("#{$font-path}Roboto-Bold.woff2") format("woff2"), url("#{$font-path}Roboto-Bold.woff") format("woff"), url("#{$font-path}Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}
//@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500|Source+Code+Pro:400,500,700|Roboto+Slab:400,700'
//@import 'https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic'

@import 'https://fonts.googleapis.com/css?family=Lato:400,700|Roboto:400,500';

@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* https://design.google.com/icons/ */

/* Rules for sizing the icon. */
.material-icons.md-18 {
    font-size: 18px;
}
.material-icons.md-24 {
    font-size: 24px;
}
.material-icons.md-36 {
    font-size: 36px;
}
.material-icons.md-48 {
    font-size: 48px;
}
/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}
.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}
/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}
.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}