@import 'navbarfooter-theme';

.navbar-footer {
	display: flex;
	position: relative;
	padding-top: 10px;
    padding-bottom: 20px;
    height: auto;
}

.navbar-footer__list {
	li.menu-item {
		float: none;
		a {
			padding-top: 5px;
    		padding-bottom: 5px;
		}
	}
}