.navbar-footer {

}

.navbar-footer__list {
	li.menu-item {
		a {
			color: mix(black, $primary-color-text, 10%);
			font-weight: 600;
			&:hover,
			&:focus,
			&:active {
				background-color: transparent;
				color: $primary-color-text;
			}
		}
	}
}