@import "marketingcards-theme";

.marketing-cards {
	margin-top: 50px;
	margin-bottom: 50px;
}

.marketing-cards__row {

}

.card {
	//margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
	margin-bottom: 20px;
    h2{
		padding: 5px;
	}
}

.card--wrapper {
	margin: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.card--image {
	margin: 20px;
}



.card--paragraph {
	margin-top: 20px;
	margin-bottom: 20px;
}

.card--button {
	padding: 10px 30px;
}