@import "article-theme";

.article {
	padding: 50px 0;
	article {
		padding: 20px 0 !important;
	}
}

.container-image {

}

.container-image--link {

}

.container-image--image{
	margin-bottom: 20px;
}

.text-container {
	padding-bottom: 40px;
}

.text-container--title {
	margin-top: 0;
}